<%- include('../../parts/head', {bot, user, path}) %>
<br><br><br>
    <div class="container">
        <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-code has-text-info"></i>&nbsp; Kodlar</p>
          </div>
          <div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5">

                    <div class="column is-3 mb-5">    
                        <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                          <div>
                            <i draggable="false" style="font-size: 140px;" class="fab fa-js fa-5x is-pulled-left has-text-warning cardvcodesbotIMG z"></i>
                          </div>
                          <div class="is-pulled-right is-inline-block">
                             <span class="tag is-dark mt-1 w-100">Toplam: <%= data.filter(a => a.codeCategory.toLowerCase() === "javascript").length %></span>
                             </div>
                           <br><br><br>
                          <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-5">
                            Javascript Kodları
                        </p>   
                          <center>
        
                          <div class="cardvcodesbotButtons">
                              <a href="/codes/javascript" style="width: 70%; color: #fff;padding: 5px 20px;" class="btn btn-vote"><i class="fad fa-eye"></i>&nbsp;Görüntüle</a>
                              <br><br>
        
                             </div>
                         </center>
                        </div>
                    </div>
                    <div class="column is-3 mb-5">    
                        <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                          <div>
                            <img src="https://cdn.discordapp.com/attachments/760270355431686195/855557175748329482/1024px-HTML5_logo_and_wordmark.svg.png" draggable="false" style="font-size: 120px;" class="fad fa-mobile-alt fa-3x is-pulled-left has-text-primary cardvcodesbotIMG z">
                          </div>
                          <div class="is-pulled-right is-inline-block">
                             <span class="tag is-dark mt-1 w-100">Toplam: <%= data.filter(a => a.codeCategory.toLowerCase() === "html").length %></span>
                             </div>
                           <br><br><br>
                          <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-5">
                            HTML Kodları
                        </p>   
                          <center>
        
                          <div class="cardvcodesbotButtons">
                              <a href="/codes/html" style="width: 70%; color: #fff;padding: 5px 20px;" class="btn btn-vote"><i class="fad fa-eye"></i>&nbsp;Görüntüle</a>
                              <br><br>
        
                             </div>
                         </center>
                        </div>
                    </div>
                    <div class="column is-3 mb-5">    
                        <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                          <div>
                            <i draggable="false" style="font-size: 120px;" class="fad fa-file-code fa-3x is-pulled-left has-text-info cardvcodesbotIMG z"></i>
                          </div>
                          <div class="is-pulled-right is-inline-block">
                             <span class="tag is-dark mt-1 w-100">Toplam: <%= data.filter(a => a.codeCategory.toLowerCase() === "altyapı").length %></span>
                             </div>
                           <br><br><br>
                          <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-5">
                            Altyapı Kodları
                        </p>   
                          <center>
        
                          <div class="cardvcodesbotButtons">
                              <a href="/codes/altyapı" style="width: 70%; color: #fff;padding: 5px 20px;" class="btn btn-vote"><i class="fad fa-eye"></i>&nbsp;Görüntüle</a>
                              <br><br>
        
                             </div>
                         </center>
                        </div>
                    </div>
                    <div class="column is-3 mb-5">    
                        <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                          <div>
                            <img src="https://cdn.glitch.com/a7a1778a-05f2-4de5-831b-3464e100ea50%2Ffc99a32d-93fa-43b2-ab37-d3417de4152a.image.png?v=1619887547405" draggable="false" style="font-size: 120px;" class="fad fa-mobile-alt fa-3x is-pulled-left has-text-primary cardvcodesbotIMG z">
                          </div>
                          <div class="is-pulled-right is-inline-block">
                             <span class="tag is-dark mt-1 w-100">Toplam: <%= data.filter(a => a.codeCategory.toLowerCase() === "bdfd").length %></span>
                             </div>
                           <br><br><br>
                          <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-5">
                            BDFD Kodları
                        </p>   
                          <center>
        
                          <div class="cardvcodesbotButtons">
                              <a href="/codes/bdfd" style="width: 70%; color: #fff;padding: 5px 20px;" class="btn btn-vote"><i class="fad fa-eye"></i>&nbsp;Görüntüle</a>
                              <br><br>
        
                             </div>
                         </center>
                        </div>
                    </div>
            <div class="column is-3 mb-5">    
                        <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                          <div>
                            <img src="https://cdn.glitch.com/a7a1778a-05f2-4de5-831b-3464e100ea50%2Ff0bcb2b6-be20-4334-9f26-2abb331b866d.image.png?v=1619887904909" draggable="false" style="font-size: 120px;" class="fad fa-mobile-alt fa-3x is-pulled-left has-text-primary cardvcodesbotIMG z">
                          </div>
                          <div class="is-pulled-right is-inline-block">
                             <span class="tag is-dark mt-1 w-100">Toplam: <%= data.filter(a => a.codeCategory.toLowerCase() === "aoijs").length %></span>
                             </div>
                           <br><br><br>
                          <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-5">
                            Aoi.JS Kodları
                        </p>   
                          <center>
        
                          <div class="cardvcodesbotButtons">
                              <a href="/codes/aoijs" style="width: 70%; color: #fff;padding: 5px 20px;" class="btn btn-vote"><i class="fad fa-eye"></i>&nbsp;Görüntüle</a>
                              <br><br>
        
                             </div>
                         </center>
                        </div>
                    </div>
            
            


                         </center>
                        </div>
                    </div>
            


                         </center>
                        </div>
                    </div>
                    
                 </div>
    </div>
</center>
<%- include('../../parts/foot') %>
